{{ define "header"}}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-principal"
                aria-controls="navbar-principal" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">DevBook</a>
            <div class="collapse navbar-collapse" id="navbar-principal">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/profile">Profile</a>
                    </li>
                    <li class="nav-item">
                        <form class="d-flex" action="/search-users" method="GET">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                                id="user" name="user" required="required">
                        </form>
                    </li>
                </ul>

                <span class="navbar-text p-0">
                    <a href="/logout">
                        Sign Out
                        <i class="fas fa-power-off"></i>
                    </a>
                </span>
            </div>
        </div>
    </nav>
{{ end }}