{{ define "modal-following" }}
<div class="modal fade" id="modal-following">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Following</h2>
            </div>

            <div class="modal-body">
                {{ range .Following }}
                    <a href="/users/{{.ID}}">{{ .Nick }}</a> <br/>
                {{ else }}
                    <p class="text-muted text-center">
                        No following yet...
                    </p>
                {{ end }}
            </div>
        </div>
    </div>
</div>
{{ end }}