{{ define "likes" }}
    <i class="fas fa-heart like-publication"></i>
    <span> {{ .Likes }} </span>
{{ end }}

{{ define "edit" }}
    <a href="/publications/{{ .ID }}/update" style="text-decoration: none;">
        <i class="fas fa-edit"></i>
    </a>
{{ end }}

{{ define "delete" }}
    <a href="/delete" style="text-decoration: none;">
        <i class="fas fa-trash text-danger"></i>
    </a>
{{ end }}

{{ define "header-publication"}}
    <h1 class="display-4"> {{ .Title }} </h1>
    <p class="lead"> {{ .Content }} </p>
    <a href="#"> {{ .AuthorNick }} - {{ .CreatedAt.Format "02/01/2006" }} </a>
    <hr class="my-4">
{{ end }}

{{ define "publication-with-permission" }}
    <div class="jumbotron" data-publication-id="{{ .ID }}">
        {{ template "header-publication" . }}
        <p>
            {{ template "likes" . }}
            {{ template "edit" . }}
            {{ template "delete" . }}
        </p>
    </div>
{{ end }}

{{ define "publication-without-permission" }}
    <div class="jumbotron" data-publication-id="{{ .ID }}">
        {{ template "header-publication" . }}
        <p>
            {{ template "likes" . }}
        </p>
    </div>
{{ end }}
