<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevBook - Login</title>

    <link rel="stylesheet" type="text/css" href="/assets/css/login.css">
</head>

<body>
    <div class="container-login">
        <div>
            <form class="devbook-form" id="form-login">
                <span>Welcome to DevBook</span>
                <div>
                    <input type="text" name="email" id="email" placeholder="example@example.com" required="required">
                </div>
                <div>
                    <input type="password" name="password" id="password" placeholder="password@123" required="required">
                </div>

                <a href="/create-user"> Create account </a>
                <button type="submit" class="btn-devbook">Login</button>
            </form>
        </div>
    </div>

    {{ template "scripts" }}

    <script src="/assets/js/signin.js"></script>
</body>

</html>