<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevBook - Sign Up</title>

    <link rel="stylesheet" type="text/css" href="/assets/css/signup.css">
</head>

<body>
    <div class="container-signup">
        <div>
            <form class="devbook-form" id="form-signup">
                <span>Create your account</span>
                <div>
                    <input type="text" name="name" id="name" placeholder="Digit your name..." required="required">
                </div>
                <div>
                    <input type="text" name="email" id="email" placeholder="Digit your email..." required="required">
                </div>
                <div>
                    <input type="text" name="nick" id="nick" placeholder="Digit your nick..." required="required">
                </div>
                <div>
                    <input type="password" name="password" id="password" placeholder="Digit your password..." required="required">
                </div>
                <div>
                    <input type="password" name="confirmation-password" id="confirmation-password" placeholder="Confirm your password..." required="required">
                </div>

                <a href="/login"> Login </a>
                <button type="submit" class="btn-devbook">Create</button>
            </form>
        </div>
    </div>

    {{ template "scripts" }}

    <script src="/assets/js/signup.js"></script>
</body>

</html>