<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevBook - Update Password</title>

    <link href="/assets/css/bootstrap.css" rel="stylesheet">
</head>

<body>
    {{ template "header" }}

    <div class="container-fluid">
        <div class="row mt-4">
            <div class="col-12">
                <h3>Edit Info</h3>
                <form id="update-password">
                    <div class="form-group">
                        <label for="current-password">Current Password</label>
                        <input type="password" class="form-control" id="current-password" name="current-password" 
                        placeholder="Your current password..." required="required">
                    </div>

                    <div class="form-group">
                        <label for="new-password">New Password</label>
                        <input type="password" class="form-control" id="new-password" name="new-password" 
                        placeholder="Your new password..." required="required">
                    </div>

                    <div class="form-group">
                        <label for="confirmation-password">Confirmation Password</label>
                        <input type="password" class="form-control" id="confirmation-password" name="confirmation-password" 
                        placeholder="Confirm new password..." required="required">
                    </div>

                    <button type="submit" class="btn btn-info">Update</button>
                </form>
            </div>
        </div>
    </div>

    {{ template "footer" }}
    {{ template "scripts" }}

    <script src="/assets/js/user.js"></script>
</body>

</html>